{% extends "side_nav_container.html" %}


{% block title %}Add Hours | MyServe{% endblock %}

{%block content%}
<form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <p>
        {{ form.description.label }}<br>
        {{ form.description }}
        {% for error in form.description.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.hours.label }}<br>
        {{ form.hours }}
        {% for error in form.hours.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.group.label }}<br>
        {{ form.group }}
        {% for error in form.group.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        {{ form.date.label }}<br>
        {{ form.date }}
        {% for error in form.date.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>{{ form.submit() }}</p>
</form>
{% endblock %}