{% extends "side_nav_container.html" %}

{% block title %}Groups > {{ group.name }}{% endblock %}

{% block content %}
<h1>{{ group.name }}</h1>
<h5>Teacher(s) In Charge: {{group.get_teachers_string()}}</h5>
<h5>Hours from Group: {{'%0.2f' | format(group.user_total(user))}}</h5>
<table id="groups" class="table table-striped" style="width:100%">
    <thead>
        <tr>
            <th>Date</th>
            <th>Description</th>
            <th>Hours</th>
        </tr>
    </thead>
    <tbody>
    {% for item in group.get_user_log(user) %}
        <tr>
            <td>{{item.date}}</td>
            <td>{{item.description}}</td>
            <td>{{'%0.2f' | format(item.time)}}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<script>
    $(document).ready(function() {
    $('#groups').DataTable();
} );
</script>

{% endblock %}