{% extends "side_nav_container.html" %}

{% block title %}{{ group.name }}{% endblock %}
{% block breadcrumb %}<a href='{{url_for("student.groups")}}'>Groups</a> / {{ group.name }}{% endblock %}

{% block content %}
<h2>{{ group.name }}</h1>
<p class="mb-1">Teacher(s) In Charge: {{group.get_teachers_string()}}</p>
<p>Hours from Group: {{'%0.2f' | format(group.user_total(user))}}</p>
<table id="groups" class="table table-striped" style="width:100%">
    <thead>
        <tr>
            <th>Date</th>
            <th>Description</th>
            <th>Hours</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    {% for item in group.get_user_log(user) %}
        <tr>
            <td>{{item.date}}</td>
            <td>{{item.description}}</td>
            <td>{{'%0.2f' | format(item.time)}}</td>
            <td><a href='{{url_for("student.edit_hours", id=item.id)}}'><i class="bi-pencil-fill"></i></a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<script>
    $(document).ready(function() {
    $('#groups').DataTable();
} );
</script>

{% endblock %}