{% extends 'app_container.html' %}

{% block menu %}{% include 'student/menu.html'%}{% endblock %}

{% block title %}Groups{% endblock %}
{% block breadcrumb %}Groups{% endblock %}

{% block content %}
<div class="mb-3">
<a class="btn btn-outline-success" href='{{url_for("student.edit_groups")}}'>Edit Groups</a>
</div>

<table id="groups" class="table table-striped" style="width:100%">
    <thead>
        <tr>
            <th>Group</th>
            <th>Total Hours</th>
        </tr>
    </thead>
    <tbody>
    {% for group_assoc in user.groups %}
    
        <tr>
            <td><a href='{{url_for("student.group_detail", id=group_assoc.group.id)}}'>{{group_assoc.group.name}}</a></td>
            <td>{{'%0.2f' | format(group_assoc.group_hours)}}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<script>
    $(document).ready(function() {
    $('#groups').DataTable();
} );
</script>

{% endblock %}