@media (min-width: 576px) {
    .h-sm-100 {
        height: 100%;
    }
}

body {
    font-family: filson-pro, sans-serif;
}

p{
    font-family: open-sans, sans-serif;
}

.gsignin {
    background-image: url('/static/img/gsignin/btn_google_signin_light_normal_web@2x.png');
    background-repeat: no-repeat;
}

.gsignin:hover {
    background-image: url('/static/img/gsignin/btn_google_signin_light_focus_web@2x.png');
}

.sidenav {
    background-color: #093f1a;
}

a {
    color: #000000;
}

a:hover {
    color: #0a5c23;
}

.dash-icon {
    font-size: 60px;
}