@media (min-width: 576px) {
    .h-sm-100 {
        height: 100%;
    }
}

body {
    font-family: filson-pro, sans-serif;
}

p{
    font-family: open-sans, sans-serif;
}

.sidenav {
    background-color: #093f1a;
}

a {
    color: #000000;
}

a:hover {
    color: #0a5c23;
}

.dash-icon {
    font-size: 60px;
}

.bg-title {
    background-color: #05220e;
}

.hidden {
    display: none;
}

/* overrides the bootstrap switch colouring with the myserve colouring */
.form-check-input:checked {
    background-color: #249345;
    border-color: #249345;
}

/* overrides the table colouring with the myserve colouring */
.page-item.active .page-link {
    background-color: #249345;
    border-color: #249345;
}

.dataTables_length {
    margin-bottom: 0.5rem;
}