<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://use.typekit.net/otq8wem.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs5/jszip-2.5.0/dt-1.11.3/b-2.0.1/b-html5-2.0.1/b-print-2.0.1/datatables.min.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/dataTables.bootstrap5.min.css"/>
    <link rel="stylesheet" href="/static/css/custom.css">
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs5/jszip-2.5.0/dt-1.11.3/b-2.0.1/b-html5-2.0.1/b-print-2.0.1/datatables.min.js"></script>
    <script>
      $(document).ready(function(){
        $('#content').css('display', 'none');
        $('#content').fadeIn(200);
      });
    </script>
    <title>{% block title %}{% endblock %} | MyServe</title>
    <link rel="shortcut icon" type="image/png" href="/static/img/favicon.png"/>
  </head>
  <body>
    {% block layout %}
    {% endblock %}
    <script>
          // delegate all clicks on "a" tag (links)
      $(document).on("click", "a", function () {

          // get the href attribute
          var newUrl = $(this).attr("href");

          // veryfy if the new url exists or is a hash
          if (!newUrl || newUrl[0] === "#") {
              // set that hash
              location.hash = newUrl;
              return;
          }

          // now, fadeout the html (whole page)
          $("#content").fadeOut(200, function () {
              // when the animation is complete, set the new location
              location = newUrl;
          });

          // prevent the default browser behavior.
          return false;
      });
    </script>
  </body>
</html>
