{% block table %}

<table id="table_template" class="table table-striped" style="width:100%">
    <thead>
        <tr>
            <th>Name</th>
            <th>Position</th>
            <th>Office</th>
            <th>Age</th>
            <th>Start date</th>
            <th>Salary</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><p>Tiger Nixon</p></td>
            <td><p>System Architect</p></td>
            <td><p>Edinburgh</p></td>
            <td><p>61</p></td>
            <td><p>2011/04/25</p></td>
            <td><p>$320,800</p></td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <th>Name</th>
            <th>Position</th>
            <th>Office</th>
            <th>Age</th>
            <th>Start date</th>
            <th>Salary</th>
        </tr>
    </tfoot>
</table>

<script>
    $(document).ready(function() {
    $('#table_template').DataTable();
} );
</script>
{% endblock %}