{% extends 'hours_form.html' %}

{% block menu %}{% include 'staff/menu.html'%}{% endblock %}
{% block title %}Edit Hours{% endblock %}
{% block breadcrumb %}<a href="{{url_for('staff.students')}}">Students</a> / <a href="{{url_for('staff.student_log', id=student.id)}}">{{student.name()}}</a> / Edit Hours{% endblock %}

{% block extra_buttons %}

<button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#confirmModal">
    Delete
  </button>
  
<div class="modal fade" id="confirmModal" tabindex="-1" aria-labelledby="confirmModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="confirmModalLabel">Confirm</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body text-center">
          Are you sure you want to delete this item?
        </div>
        <div class="modal-footer">
            <div class=row>
                <div class="col">
                    <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancel</button>
                </div>
                <div class="col text-end">
                    {{ form.delete(type="submit", class="btn btn-danger") }}
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}

{% block help_text %}
<h3>Need help?</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea, quo dicta fugiat delectus, assumenda soluta quas consequuntur nesciunt, id at magni autem corrupti laborum cum itaque minus! Ipsa, laborum a.</p>
{% endblock %}