<li>
    <a href='{{url_for("staff.dashboard")}}' class="nav-link text-white align-middle px-0">
        <i class="fs-4 color-green bi-speedometer2"></i> <span class="ms-2 d-none d-sm-inline">Dashboard</span>
    </a>
</li>
<li>
    <a href='{{url_for("staff.students")}}' class="nav-link text-white px-0 align-middle">
        <i class="fs-4 bi-person-circle"></i> <span class="ms-2 d-none d-sm-inline">Students</span> </a>
</li>
<li>
    <a href='{{url_for("staff.groups")}}' class="nav-link text-white px-0 align-middle">
        <i class="fs-4 bi-people"></i> <span class="ms-2 d-none d-sm-inline">Groups</span> </a>
</li>
<li>
    <a href='{{url_for("staff.other_hours")}}' class="nav-link text-white px-0 align-middle">
        <i class="fs-4 bi-clock"></i> <span class="ms-2 d-none d-sm-inline">Other Hours</span> </a>
</li>
{% if user.role_id == 3 %}
<li>
    <a href='{{url_for("staff.manage")}}' class="nav-link text-white px-0 align-middle">
        <i class="fs-4 bi-gear"></i> <span class="ms-2 d-none d-sm-inline">Manage</span> </a>
</li>
{% endif %}