{% extends 'app_container.html' %}

{% block menu %}{% include 'staff/menu.html'%}{% endblock %}
{% block title %}Students{% endblock %}
{% block breadcrumb %}Students{% endblock %}

{% block content %}
<table id="students" class="table table-striped" style="width:100%">
    <thead>
        <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Form Class</th>
            <th>Current Award</th>
            <th>Total Hours</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    {% for student in students %}
    
        <tr>
            <td>{{student.id}}</td>
            <td>{{student.first_name}}</td>
            <td>{{student.last_name}}</td>
            <td>{{student.form_class}}</td>
            <td>{{student.get_current_award().name}}</td>
            <td>{{'%0.2f' | format(student.total)}}</td>
            <td><a href='{{url_for("staff.student_log", id=student.id)}}'><i class="bi-three-dots"></i></a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<script>
    $(document).ready(function() {
    $('#students').DataTable();
} );
</script>

{% endblock %}
