{% extends 'app_container.html' %}

{% block menu %}{% include 'staff/menu.html'%}{% endblock %}
{% block title %}Log{% endblock %}
{% block breadcrumb %}Log{% endblock %}

{% block content %}
<table id="log" class="table table-striped" style="width:100%">
    <thead>
        <tr>
            <th>Date Completed</th>
            <th>Group</th>
            <th>Description</th>
            <th>Time</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    {% for item in user.hours %}
    
        <tr>
            <td>{{item.date}}</td>
            {% if item.group == None %}
            <td>Other</td>
            {% else %}
            <td><a href='{{url_for("student.group_detail", id=item.group.id)}}'>{{item.group.name}}</a></td>
            {% endif %}
            <td>{{item.description}}</td>
            <td>{{'%0.2f' | format(item.time)}}</td>
            <td><a href='{{url_for("student.edit_hours", id=item.id)}}'><i class="bi-pencil-fill"></i></a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<script>
    $(document).ready(function() {
    $('#log').DataTable();
} );
</script>

{% endblock %}
